<div class="row">
    <div class="col s12">
      <div class="card blue-black darken-1">
        <div class="card-content white-text">
        <div class="row">
           <div class="col s5">
              <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" >
                
                
                <div class="row">
                    <div class="input-field col s12">
                        <input type="number" name="EmpID" #EmpID="ngModel" [(ngModel)]="employeeService.selectedEmployee.EmpID" placeholder="EmpID" required>
                        <label>EmpId:
                            <label class="red-text">*</label>
                        </label> 
                    </div>
                    </div>


              <div class="row">
                  <div class="input-field col s12">
                      <input type="text" name="Name" #Name="ngModel" [(ngModel)]="employeeService.selectedEmployee.Name" placeholder="Name" required>
                      <label>Name:
                          <label class="red-text">*</label>
                      </label> 
                  </div>
                  </div>


                  <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="EmpCode" #EmpCode="ngModel"  [(ngModel)]="employeeService.selectedEmployee.EmpCode" placeholder="EmpCode" required>
                    <label>EmpCode:
                        <label class="red-text">*</label>
                    </label>
                </div>
                </div>
                
                <div class="row">
                <div class="input-field col s12">
                    <input type="number" name="Salary" #Salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.Salary" placeholder="Salary" required>
                    <label>Salary:
                        <label class="red-text">*</label>
                    </label>
                </div>
                </div>


                <div class="row">
                <div class="input-field col s12">
                <button class="btn btn-custom waves-effect waves-light right" type="button"(click)="resetForm(employeeForm)">Reset</button>   
                <button class="btn btn-custom waves-effect waves-light right" type="submit"[disabled]="!employeeForm.valid">Submit</button>
                </div>
                </div>
                
            </form> 
           </div>
           
           <div class="col s7">
              <table class="responsive-table highlight">
                  <th>
                      <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Emp Code</th>
                          <th>Salary</th>
                          <th></th>
                      </tr>
                  </th>
                  <tr *ngFor="let emp of employeeService.employees">
                      <td>{{emp.EmpID}}</td>
                      <td>{{emp.Name}}</td>
                      <td>{{emp.EmpCode}}</td>
                      <td>{{emp.Salary}}</td>
                      <td>
                        <a class="action-btn" (click)="onEdit(emp)">
                            <i class="material-icons">edit</i>
                        </a>
                        &nbsp;&nbsp;
                        <a class="action-btn" (click)="onDelete(emp.EmpID,employeeForm)">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                  </tr>
              </table>
       

           </div>
        </div>

        </div>
        </div>
       
      </div>
    
  </div>